.dashboard_wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  & h1 {
    font-size: 40px;
    margin-bottom: 6px;
  }
}
.dashboard_totals {
  display: flex;
  gap: 40px;
}
