.transaction_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;

  & > div {
    width: 100%;
    overflow: auto;
  }
}

.transactions_header {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  & h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: white;
  }
  & label {
    display: flex;
    align-items: center;
    background-color: var(--dark-blue-input);
    border-radius: 8px;
    padding: 12px 20px;
    gap: 4px;
    color: var(--font-transaction-regular);

    & svg {
      width: 24px;
      height: auto;
      color: currentColor;
    }

    & input {
      width: 100%;
      background-color: inherit;
      color: var(--font-transaction-regular);
      outline: none;

      &::placeholder {
        color: currentColor;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  & :global(.rs-picker-toggle) {
    height: 100%;

    --rs-input-bg: #1d1d41;
    --rs-border-primary: rgba(174, 171, 216, 0.53);
    --rs-text-primary: #aeabd8;
    --rs-picker-value: #aeabd8;
  }
}

.transactions_table {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  min-width: fit-content;

  & tbody {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & tr {
    display: flex;
    text-align: left;
    gap: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;

    & > * {
      flex: 1 1;
    }

    & th {
      font-size: 12px;
      line-height: 16px;
      color: var(--font-transaction-regular);
    }
  }
}

.status {
  padding: 4px 12px;
  border-radius: 8px;
  width: fit-content;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--green-bg);
  color: var(--green);
}

@media (max-width: 770px) {
  .transactions_table {
    margin-left: 12px;
  }
  .transactions_header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
