:root {
  --font-regular: #8c89b4;
  --font-transaction-regular: #aeabd8;

  --diagram-outcome: #64cff6;
  --diagram-income: #6359e9;
  --hover-message: #464687;

  --green: #02b15a;
  --red: #e41414;
  --dark-blue-bg: #1d1d41;
  --dark-blue-input: #27264e;
  --main-bg: #f1f1f1;
}
