*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: none;
}

body {
  font-family: var(--font-general-sans);
  background-color: var(--main-bg);
}

:root,
body {
  min-height: 100vh;
}

@import "rsuite/dist/rsuite.css";
